.openerp .oe_bank_statement_reconciliation {
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  /* icons */ }
  .openerp .oe_bank_statement_reconciliation h1 {
    width: 48%;
    padding: 0 0 0 15px;
    margin: 0 0 35px 0;
    float: left;
    font-size: 2.3em; }
  .openerp .oe_bank_statement_reconciliation h2 {
    font-size: 1.8em; }
  .openerp .oe_bank_statement_reconciliation .progress {
    width: 49%;
    margin: 6px 15px 0 0;
    float: right;
    position: relative;
    display: inline-block; }
    .openerp .oe_bank_statement_reconciliation .progress .progress-text {
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
      top: 2px;
      z-index: 10;
      text-shadow: -1px -1px 0 #f5f5f5,   1px -1px 0 #f5f5f5, -1px 1px 0 #f5f5f5, 1px 1px 0 #f5f5f5; }
  .openerp .oe_bank_statement_reconciliation .oe_form_sheet {
    position: relative;
    padding-bottom: 30px; }
  .openerp .oe_bank_statement_reconciliation .protip {
    margin: 0;
    position: absolute;
    bottom: 7px;
    right: 15px;
    text-align: right;
    color: #bbb; }
  .openerp .oe_bank_statement_reconciliation .done_message {
    width: 100%;
    padding: 0 20%;
    margin-top: 50px;
    margin-bottom: 50px; }
    .openerp .oe_bank_statement_reconciliation .done_message h2 {
      margin-bottom: 30px; }
      .openerp .oe_bank_statement_reconciliation .done_message h2 .congrats_icon {
        float: right;
        font-size: 2em;
        position: relative;
        top: -0.25em; }
    .openerp .oe_bank_statement_reconciliation .done_message .achievements {
      margin-top: 30px;
      text-align: center;
      position: relative; }
      .openerp .oe_bank_statement_reconciliation .done_message .achievements .achievement {
        font-size: 4em;
        margin: 0 0.3em;
        position: relative;
        vertical-align: middle;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2); }
        .openerp .oe_bank_statement_reconciliation .done_message .achievements .achievement i {
          font-size: 0.5em;
          color: white;
          position: absolute;
          top: 50%;
          margin-top: -0.55em;
          left: 0;
          width: 100%;
          text-align: center; }
  .openerp .oe_bank_statement_reconciliation .glyphicon {
    font-size: 12px !important; }
    .openerp .oe_bank_statement_reconciliation .glyphicon.line_info_button {
      color: #ccc !important; }
  .openerp .oe_bank_statement_reconciliation .accounting_view .glyphicon-add-remove:before {
    content: "\2212"; }
  .openerp .oe_bank_statement_reconciliation .match .glyphicon-add-remove:before {
    content: "\2b"; }
  .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    /* gap between accounting_view and action view */
    /* popover */
    /* arrays of move lines */
    /* Partie infos */
    /* Match view */
    /* Action create */ }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .toggle_match, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .toggle_create {
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -ms-transition-property: -ms-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line.initial_line > td {
      -webkit-transition: background-color 300ms;
      -moz-transition: background-color 300ms;
      -ms-transition: background-color 300ms;
      transition: background-color 300ms; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line[data-mode="match"] .toggle_match {
      visibility: visible !important;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line[data-mode="create"] .toggle_create {
      visibility: visible !important;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line[data-mode="inactive"] .initial_line > td {
      background-color: #f8f8f8 !important; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line > tbody > tr:nth-child(1) > td table {
      margin-bottom: 10px; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line table.details td:first-child {
      padding-right: 10px;
      font-weight: bold; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table {
      width: 100%; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table tr {
        cursor: pointer; }
        .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr.created_line, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table tr.created_line {
          cursor: default !important; }
          .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr.created_line glyphicon, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table tr.created_line glyphicon {
            cursor: pointer; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td {
        padding: 1px 8px;
        vertical-align: middled; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(1), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(7), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(1), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(7) {
        width: 15px;
        padding: 0; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(1), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(1) {
        text-align: left; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(2), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(2) {
        width: 80px;
        padding-left: 3px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(3), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(3) {
        width: 100px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(5), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(5) {
        text-align: right;
        width: 15%; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(6), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(6) {
        width: 15%;
        text-align: right;
        padding-right: 3px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(7), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table td:nth-child(7) {
        text-align: right; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr.line_open_balance, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table tr.line_open_balance {
        color: #bbb; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr .glyphicon:not(.line_info_button), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table tr .glyphicon:not(.line_info_button) {
        visibility: hidden;
        color: #555; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr:hover .glyphicon, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match table tr:hover .glyphicon {
        visibility: visible; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view .initial_line > td {
      border-top: 1px solid #bbbbbb;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: background-color 0.3s;
      background-color: #f0f0f0; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view .initial_line > td:nth-child(1), .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view .initial_line > td:nth-child(7) {
        border-top: none;
        background: white !important; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr:nth-child(2) > * {
      padding-top: 3px; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view caption {
      text-align: left;
      font-size: 1.1em;
      font-weight: bold;
      margin: 0 15px 4px 15px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view caption .button_ok, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view caption .button_default {
        float: right; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view caption > span, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view caption > input {
        position: relative;
        top: 7px;
        /* meh */
        font-weight: bold;
        cursor: pointer; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view td:nth-child(6) {
      border-left: 1px solid black; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr:first-child > td:nth-child(5) {
      border-top: 1px solid black; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .accounting_view tr:first-child > td:nth-child(6) {
      border-top: 1px solid black; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .match_extended_controls {
      padding: 0 0 5px 18px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .match_extended_controls .filter {
        width: 240px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .match_extended_controls .pagerControlLeft, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .match_extended_controls .pagerControlRight {
        display: inline-block;
        cursor: pointer; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .match_extended_controls .pagerControlLeft {
        margin-right: 10px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .match_extended_controls .pagerControlLeft.disabled, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .match_extended_controls .pagerControlRight.disabled {
        color: #ddd;
        cursor: default; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .match .show_more {
      display: inline-block;
      margin-left: 18px;
      margin-top: 5px; }
    .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create {
      margin: 0 15px;
      border: 1px solid #d5d5d5;
      border-radius: 5px;
      padding: 10px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create .quickAdd {
        margin-bottom: 10px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create table {
        width: 100%; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create td {
        padding-bottom: 7px; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create tr:last-child td {
        padding-bottom: 0; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create td:nth-child(2n+1) {
        font-weight: bold;
        padding-right: 5px;
        padding-left: 15px;
        white-space: nowrap; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create td:first-child {
        padding-left: 0; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create td:nth-child(2n) {
        width: 40%; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create input, .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create select {
        width: 100%; }
      .openerp .oe_bank_statement_reconciliation .oe_bank_statement_reconciliation_line .create .add_line {
        text-align: center; }
