.oe_planner .footer-well {
  height: 130px;
}
.oe_planner #planner_page2 .dropdown-menu, .oe_planner #planner_page3 .dropdown-menu {
  min-width: 290px;
}
.oe_planner #planner_page2 input, .oe_planner #planner_page3 input, .oe_planner #planner_page4 input {
  background-color: inherit;
  border: none;
  outline: none;
}