.full_screen {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: auto;
	position: absolute;
}

.form-group {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.form-group:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.oe_user_name {
	margin: 5px;
}
.oe_formated_date {
	width: 150px;
	text-align: right;
}

.oe_tweets {
	background-color: rgba(240, 248, 255, 0.8);
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 15px;
}
.oe_profile_image {
	width: 70px;
}

.oe_padding {
	padding: 0px;
}

.oe_tweet_div {
	display: table;
}

.oe_tweet_text_div {
	display: table-cell;
	position: relative;
}

.oe_tweet_text {
	background-color: #4099FF;
	border-radius: 15px;
	padding: 10px;
	font-family: sans-serif;
	word-wrap: break-word;
	color: #FFFFFF;
	width: 98%;
}

.oe_media_image_div {
	display: table-cell;
}

.pointer {
	cursor: pointer;
	text-align: center !important;
}

.twitter_moderate_container {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 5px;
}

img.media_inlarge {
	visibility: hidden;
	padding: 5px;
	background: #FFF;
	cursor: zoom-out;
	width: 500px;
	height: 300px;
	position: absolute;
	right: 210px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .75));
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .75);
	box-shadow: 0 0 20px rgba(0, 0, 0, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

img.media_thumb:hover+img.media_inlarge {
	cursor: pointer;
	visibility: visible;
	z-index: 9999;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
    
table#tweet_table tbody th {
    border-top: 0px;
}

table#tweet_table tbody td {
	min-height: 50px;
	height: 50px;
	vertical-align: middle;
}

.oe_kanban_wall {
	min-width: 260px;
	width: 260px;
	min-height: 140px;
}

.oe_kanban_wall_list>a>span:hover {
	margin: 4px 0;
	text-decoration: underline;
}

.oe_kanban_wall_avatars {
	margin-top: 8px;
}

.oe_kanban_wall_avatars img {
	width: 35px;
	height: 35px;
	margin-right: -8px;
	padding-left: 0px;
	margin-top: 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.wall_box {
	padding: 0px 15px 10px 15px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	min-height: 250px !important;
	margin: 5px;
	width: 32.1%;
	display: inline-block;
	vertical-align: top;
}

.published_True {
	background-color: #FFC7C7;
}

.published_False {
	background-color: #C7FFD5;
}

div span.tagcloud {
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
	float: left;
	padding: 2px 5px 2px 5px;
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid #000000 !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wall_heading {
	margin: 0 20px 0 -15px;
	padding-top: 22px;
	padding-bottom: 22px;
}

.clearfloat {
	clear: both;
}

.state_count {
	color: #FFFFFF;
	font-size: 13px;
	padding: 3px 7px 3px 7px;
	background-color: #428bca;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.badgespace {
	color: #428bca;
	background-color: #FFFFFF;
	margin-left: 5px;
}

.streaming_btn {
	text-align: center;
	vertical-align: middle;
	margin: 40px 0px 0px 0px;
}

.tweet_url_hash_highlight {
	color: #4099FF;
	font-style: italic;
}