.openerp .oe_kanban_view .oe_event_kanban_view{
 /* Customize width and height of kanban according bootstrap3 */
  width: 355px;
  min-height: 180px !important;
  /* End of customize */
  cursor: default;
}
.openerp .oe_kanban_view .oe_kanban_content div:first-child{
  margin:0px !important
}

.oe_event_kanban_view .oe_event_time_contry{
  margin-top:5px;
  text-align:center;
  font-size: 11px;
}
.oe_event_kanban_view .oe_event_seat_value{
  padding-left:30px;
  padding-top:5px;
  font-size: 14px !important;
}
#oe_event_tracks{
  height:130px;
  padding-top: 35px;
  padding-right:0px !important;
}
.oe_event_tracks, .oe_event_sponsors, .oe_event_agenda .oe_event_website_link{
  text-align:center;
  display: inline;
  vertical-align: middle;
  line-height:normal;
}
.oe_event_kanban_view .oe_event_sparklin_bar div {
    height: 22px;
    margin: 0 !important;
    position: relative;
    display: inline-block;
}